#video {
  width:420px;
  height:555px;
}

#photo1, #photo2, #photo3, #photo4{
  width:140px;
  height:185px;
  /* filter: sepia(100%); */
}

.sepia {
  filter: sepia(100%);
}

.grayscale {
  filter: grayscale(100%);
}

.none {
  filter: none;
}

#canvas {
  display:none;
}

.camera {
  width: 420px;
  margin-top: 400px;
  margin-left: 20px;

}

.output {
  width: 140px;
  height: 185px;
  display:block;
  margin-left: 85px;
  margin-top: 8px

}

.first {
  margin-top: 365px;

}

#startbutton {
  display:block;
  margin-left:auto;
  margin-right:auto;
  bottom:32px;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
  z-index: 5;
}

body {
  background-image: url("./images/photobooth1.png");
  background-size: 1400px 1400px;
  background-repeat: no-repeat;
  background-position: top center;

}

.buttonz {
  margin-top: 630px;
  margin-left: 300px;
  display: inline-block;

}

.titles{
  margin-top: 10px;
  margin-left: 35px
}

.photo-title {
  width: 140px;
  height: 85px;
  word-wrap: break-word;
  text-align: center;
}

.photos {

}
