#photo1, #photo2, #photo3, #photo4{

  width:175px;
  height:225px;
  margin-top:10px
}

.first {
  margin-top: 30px;
}

#canvas {
  display:none;
}

.sepia {
  filter: sepia(100%);
}

.grayscale {
  filter: grayscale(100%);
}

.none {
  filter: none;
}

body {
  /* height: 1500px; */
  background-image: url("./images/photoStrip.png");
  background-size: 555px 1110px;
  background-repeat: no-repeat;
  background-position: top center;
  margin-right: 150px;
}
